* {
    box-sizing: border-box;
}

.navigation-link {
    display: inline;
}

.navigation-link > a {
    color: green;
}

.navigation-link::after {
    content: "|";
}

.navigation-link:last-child::after {
    content: "";
}

.about-me-content::first-letter {
    font-weight: bold;
    font-size: 2em;
}

.asterisk {
    color: red;
}

.contact-form input {
    border: 4px solid;
}

.contact-form input:focus {
    border-color: orange;
}

.contact-form input:valid {
    border-color: green;
}

.contact-form input:invalid {
    border-color: red;
}

.submit-button {
    background-color: green;
    color: white;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}