.link {
  color: red;
}
.about::first-letter {
  color:blue;
  font-size: 20px;
}
.input:invalid {
  background-color: pink;
}
input:checked + label {
  color: #ccc;
  font-style: italic;
} 
a[href^="http"] {
  color:yellow;
}